In [7]:
import pandas as pd
data = pd.read_csv("house_data_sim.csv")

In [8]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
x_multi = data.drop(['price'],axis = 1)
y = data.loc[:,'price']

In [11]:
from sklearn.linear_model import LinearRegression
lr_multi = LinearRegression()

In [12]:
lr_multi.fit(x_multi,y)

LinearRegression()

In [16]:
y_predict_multi = lr_multi.predict(x_multi)

In [15]:
from sklearn.metrics import mean_squared_error,r2_score
MSE_M = mean_squared_error(y,y_predict_multi)
R2_M = r2_score(y,y_predict_multi)
print(MSE_M,R2_M)

40518022074.27615 0.6997525539851824